# environment
.env
venv/
.venv/

# python
__pycache__/
*.pyc
*.log
fastapi.log

# logs
log/
*.log

# data & storage
data/
storage/
app/temp/
app/whisper.cpp/
app/coqui_utils/checkpoint_*.pth
app/coqui_utils/*.pth
laporan/*.pdf
laporan/*.aux
laporan/*.log
laporan/*.toc
laporan/*.lof
laporan/*.lot
laporan/*.out
laporan/*.synctex.gz
